<app-header></app-header>

<div class="container">
  <form [formGroup]="form">
    <label>
      username:
      <input type="text" formControlName="username" />
    </label>

    <br />
    <label>
      password:
      <input type="password" formControlName="password" />
    </label>
  </form>
  <div appError *ngIf="loginError" class="error-message">
    error has occured!
  </div>

  <button class="button button--go" [disabled]="!form.valid" (click)="login()">
    🔑 login
  </button>
  <br />
  or create new user
  <br />

  <form [formGroup]="newUserForm">
    <label>
      username:
      <input
        type="text"
        formControlName="username"
        autocomplete="new-password"
      />
    </label>

    <div appError *ngIf="passwordsError" class="error-message">
      error: passwords aren't the same!
    </div>
    <label>
      password:
      <input
        type="password"
        id="inputId"
        formControlName="password"
        autocomplete="new-password"
      />
    </label>

    <label>
      re-type password:
      <input type="password" formControlName="retryPassword" />
    </label>
  </form>
  <button
    class="button button--create-new-room"
    [disabled]="!newUserForm.valid"
    (click)="createNewUser()"
  >
    🔐 register
  </button>
</div>
