<app-header></app-header>

<div class="choose-room-container">
  <div class="container container--my-rooms">
    <div class="container__title">my rooms:</div>

    <form [formGroup]="createNewForm">
      <label>
        new room name:
        <input type="text" formControlName="chatRoomName" />
      </label>
      <button class="button button--create-new-room" (click)="createRoom()">
        ➕ create new room
      </button>
    </form>

    <div class="container__title">rooms created by me:</div>
    <div class="room">
      <span>Room 1</span> <span class="icon" (click)="deleteRoom()">❌</span>
    </div>
  </div>

  <div class="container container--other-rooms">
    <ng-container *ngIf="availableRooms.length > 0">
      <div class="room" *ngFor="let room of availableRooms">
        <span>Room 1</span>
        <span class="icon" (click)="goToChatRoom(room.id)">➡️</span>
      </div>
    </ng-container>
    <span *ngIf="availableRooms.length >= 0" class="no-available-rooms">
      no available rooms
    </span>
  </div>
</div>
