<app-header></app-header>

<div class="choose-room-container">
  <div class="container container--my-rooms">
    <div class="container__title">my rooms:</div>

    <form [formGroup]="createNewForm">
      <label>
        new room name:
        <input type="text" formControlName="chatRoomName" />
      </label>
      <button class="button button--create-new-room" (click)="createRoom()">
        ➕ create new room
      </button>
    </form>

    <ng-container *ngIf="roomsCreatedByMe.length > 0">
      <div class="room" *ngFor="let room of roomsCreatedByMe">
        <div class="room__icons">
          <span class="icon delete-icon" (dblclick)="deleteRoom(room.id)"
            >❌</span
          >
          <!-- <span class="icon">🔓🔐</span> -->
          <select class="available-colors-select">
            <option
              *ngFor="let color of availableColorsMap"
              [value]="color.colorName"
            >
              {{ color.value }}
            </option>
          </select>
        </div>
        {{ room.name }}

        <span class="icon" [routerLink]="['./', room.id]">➡️</span>
      </div>
    </ng-container>
  </div>

  <div class="container container--other-rooms">
    <ng-container *ngIf="roomsCreatedByOthers.length > 0">
      <div class="container__title">rooms created by others:</div>

      <div class="room" *ngFor="let room of roomsCreatedByOthers">
        <span>{{ room.name }}</span>
        <span class="icon" [routerLink]="['./', room.id]">➡️</span>
      </div>
    </ng-container>
    <span *ngIf="roomsCreatedByOthers.length == 0" class="no-available-rooms">
      no available rooms <br />
      created by others
    </span>
  </div>
</div>
