.choose-room-container {
  display: flex;
  justify-content: space-around;
}
.container {
  font-family: var(--font-basic);
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 1rem;
  font-size: 1rem;

  &__title {
    margin: 1rem;
  }

  & input,
  .room {
    font-size: 1rem;
    height: 3rem;
    width: 25rem;

    margin: 0.5rem;
  }

  & label {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
  }
}

.button {
  &--go {
    margin-top: 1.5rem;
  }
  &--create-new-room {
    margin-top: 1rem;
  }

  &:hover {
    color: var(--font-second-color);
  }
}

.room {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  box-sizing: border-box;

  border-radius: 3px;
  background: var(--secondary-color);

  &__icons {
    display: flex;
  }
}

.no-available-rooms {
  color: grey;
}

.available-colors-select {
  margin-left: 1rem;
  font-size: 1rem;

  & option {
    padding: 0.5rem;
  }
}

.delete-icon {
  margin-top: 3px;
}
