<app-header></app-header>

<div class="initial-page-container">
  <form [formGroup]="form">
    <label for="choose-room">
      choose room:
      <select id="choose-room" formControlName="chatRoom">
        <option [value]="null">---</option>
        <option *ngFor="let room of availableRooms" [value]="room.id">
          {{ room.name }}
        </option>
      </select></label
    >
  </form>
  <button
    (click)="goToChatRoom()"
    class="button button--go"
    [disabled]="!form.valid"
  >
    💬 ok, let's chat!
  </button>
  <br />
  or
  <br />
  <button
    (click)="isNewRoomFormVisible = true"
    *ngIf="!isNewRoomFormVisible"
    class="button button--create-new-room"
  >
    ➕ create new room
  </button>

  <form *ngIf="isNewRoomFormVisible" [formGroup]="createNewForm">
    <label>
      new room name:
      <input type="text" formControlName="username" />
    </label>
  </form>
  <button class="button button--create-new-room" *ngIf="isNewRoomFormVisible">
    ➕ 💬 create and join
  </button>
</div>
