@font-face {
  font-family: "Cascadia Code Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cascadia Code Regular"),
    url("assets/fonts/cascadia.woff") format("woff");
}

@font-face {
  font-family: "Slabo";
  src: url("assets/fonts/slabo.ttf");
}
