@import "./global_styles/reset.scss";
@import "./fonts.scss";
@import "./global_styles/variables.scss";

$error-color: tomato;

/*#region light theme variables */
$main-color-light: white;
$secondary-color-light: whitesmoke;
$font-main-color-light: #252628;
$font-second-color-light: #e50000;

$title-element-color-light: #800000;
$title-attribute-color-light: #e50000;
$title-attribute-value-color-light: #0000ff;
$title-bracket-color-light: #800000;
/*#endregion */

/*#region dark theme variables */
$main-color-dark: #343541;
$secondary-color-dark: #202123;
$font-main-color-dark: whitesmoke;
$font-second-color-dark: #9cdcfe;

$title-element-color-dark: #569cd6;
$title-attribute-color-dark: #9cdcfe;
$title-attribute-value-color-dark: #ce8349;
$title-bracket-color-dark: grey;
/*#endregion */

@mixin light {
  --main-color: #{$main-color-light};
  --secondary-color: #{$secondary-color-light};
  --font-main-color: #{$font-main-color-light};
  --font-second-color: #{$font-second-color-light};

  --title-element-color: #{$title-element-color-light};
  --title-attribute-color: #{$title-attribute-color-light};
  --title-attribute-value: #{$title-attribute-value-color-light};
  --title-bracket-color: #{$title-bracket-color-light};
}

@mixin dark {
  --main-color: #{$main-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --font-main-color: #{$font-main-color-dark};
  --font-second-color: #{$font-second-color-dark};

  --title-element-color: #{$title-element-color-dark};
  --title-attribute-color: #{$title-attribute-color-dark};
  --title-attribute-value: #{$title-attribute-value-color-dark};
  --title-bracket-color: #{$title-bracket-color-dark};
}

@media (prefers-color-scheme: light) {
  :root {
    @include light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}

:root,
:root.light {
  @include light;
  color-scheme: light;

  *::selection {
    color: #{$font-main-color-dark};
    background: #{$font-second-color-light};
  }
}
:root.dark {
  @include dark;
  color-scheme: dark;

  *::selection {
    color: #{$font-main-color-light};
    background: #{$font-second-color-dark};
  }
}

:root {
  accent-color: var(--font-second-color);

  --font-basic: "Cascadia Code Regular";
  --font-special: "Cascadia Code Regular";
  --error-color: #{$error-color};
}

body {
  font-size: 62.5%;

  background: var(--main-color);
  font-family: var(--font-basic);
  color: var(--font-main-color);
}

input,
textarea,
select {
  color: var(--font-second-color);
  font-family: var(--font-basic);
  background: var(--secondary-color);

  outline: none;
  border: none;

  border-radius: 3px;
}

.button {
  &[disabled] {
    color: grey;
    pointer-events: none;
  }
}

$img-size: 35px;
.profile-pic {
  height: $img-size;
  width: $img-size;

  margin-right: 1rem;
  border-radius: 50%;
}
