@import "variables";

.app-title {
  font-family: var(--font-special);

  font-size: 72px;
  &--main {
    color: var(--title-element-color);
  }
  &--attribute-val {
    color: var(--title-attribute-value);
  }
  &--attribute {
    color: var(--title-attribute-color);
  }
  &--brackets {
    color: var(--title-bracket-color);
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;

  background: var(--secondary-color);
}

.select-chat-form {
  font-family: var(--font-basic);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;

  margin-top: 1rem;
}
