@import "variables";

.app-title {
  margin: 5rem;

  font-family: var(--font-special);
  font-size: 48px;
  &--main {
    color: var(--title-element-color);
  }
  &--attribute-val {
    color: var(--title-attribute-value);
  }
  &--attribute {
    color: var(--title-attribute-color);
  }
  &--brackets {
    color: var(--title-bracket-color);
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;

  background: var(--secondary-color);
}

.select-chat-form {
  font-family: var(--font-basic);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;

  margin-top: 1rem;
  font-size: 1rem;

  & input,
  select {
    font-size: 1rem;
    height: 3rem;
    width: 15rem;

    margin: 0.5rem;
  }

  & label {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
  }
}
