@import "variables";

.app-title {
  font-size: 72px;
  &--main {
    color: #569cd6;
  }
  &--attribute-val {
    color: #ce8349;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: var(--secondary-color);
  color: var(--font-main-color);

  font-size: 1rem;
  @include basic-font;
}
