<footer class="footer">
  <div class="motives-container">
    <span class="motives-container__title"> app theme: </span>

    <button (click)="setTheme('light')">☀️</button>
    <button (click)="setTheme('dark')">🌚</button>
  </div>
  <div class="user-info">
    <img
      *ngIf="_authService.user$ | async"
      class="profile-pic"
      [src]="
        'https://avatars.dicebear.com/api/initials/' +
        (_authService.user$ | async)?.username +
        '.svg'
      "
    />
    <span class="username">{{
      (_authService.user$ | async)?.username ?? "not logged in"
    }}</span>
    <span (click)="logout()" class="icon logout"> 🔓 </span>
  </div>
</footer>
