.users-list-panel {
  font-size: 0.8rem;

  background: var(--secondary-color);

  &__title {
    color: var(--font-second-color);
    font-size: 1rem;
    font-family: var(--special-font);
  }
}

.username {
  margin-left: 0.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
